<!-- templates/records/home.html -->
{% extends "base.html" %}

{% block content %}
 <h2>{{ year }}年{{ month }}月</h2>

<div>
  <h3>今月のまとめ</h3>
  <p>合計：¥{{ monthly_total }}</p>

  <p>🌱 うまくいった金額：¥{{ success_total }}</p>
  <p>🍂 惜しかった金額：¥{{ regret_total }}</p>
</div>


{# Advice 表示エリア #}
{% if advice %}
  <div class="advice-bubble">
    {{ advice.message }}
    {% else %}
  <p>（adviceなし）</p>
  </div>
{% endif %}

<br>

<a href="{% url 'records:record_create' %}">
  <button>記録する</button>
</a>
{% endblock %}