{% extends "base.html" %}


{#トピック本文#}
{% block content %}
  <h1>{{ topic.title }}</h1>

  <p style="font-size: 12px; color: #666;">
    {{ topic.category.get_type_display }} | {{ topic.created_at|date:"Y/m/d" }}
  </p>

  {% if topic.text %}
    <p>{{ topic.text|linebreaksbr }}</p>
  {% endif %}

{#　トピックタグ　#}
{% if topic.tags.all %}
  <div style="margin-top:8px; font-size:12px;">
    {% for tag in topic.tags.all %}
      #{{ tag.name }}
    {% endfor %}
  </div>
{% endif %}

{#　トピックのいいね　#}
<form method="post" action="{% url 'board:topic_like_toggle' topic.id %}" style="display:inline;">
  {% csrf_token %}
  <button type="submit" style="border:none;background:transparent;cursor:pointer;font-size:18px;">
    {% if is_topic_liked %}❤️{% else %}🤍{% endif %}
  </button>
</form>
<span>{{ topic_like_count }}</span>

  <hr>

 {#　コメントリンク　#} 
  <p>
    <a href="{% url 'board:comment_create' topic.id %}">
      コメントを書く
    </a>
  </p>

  {# コメント一覧 #}
  <h2>コメント</h2>

  {% for c in comments %}
  <div id="comment-{{ c.sequence }}" style="padding:10px 0; border-bottom:1px solid #eee;">

    <div style="font-size:12px; color:#666;">
      #{{ c.sequence }}（{{ c.user.username }} / {{ c.created_at|date:"Y-m-d H:i" }}）
    </div>

  {#　コメントのいいね　#}
  <div style="margin-top:4px;">
      <form method="post" action="{% url 'board:comment_like_toggle' c.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" style="border:none;background:transparent;cursor:pointer;">
          {% if c.is_liked %}❤️{% else %}🤍{% endif %}
        </button>
      </form>
      <span style="font-size:12px; color:#666;">{{ c.like_count }}</span>
    </div>

  {#　親子コメント　#}
    {% if c.parent_comment %}
      <div style="margin-top:4px;">
        <a href="#comment-{{ c.parent_comment.sequence }}"
           style="font-size:12px; color:#666; text-decoration:none;">
          >>>#{{ c.parent_comment.sequence }}
        </a>
      </div>
    {% endif %}

    <div style="margin-top:6px;">
      {% if c.is_deleted %}
        <span style="color:#999;">削除されました</span>
      {% else %}
        {{ c.text|linebreaksbr }}
      {% endif %}
    </div>

  </div>
{% empty %}
  <p>コメントはまだありません。</p>
{% endfor %}

{#一覧へ　リンク#}
  <p>
    <a href="{% url 'board:topic_list' %}">← 一覧へ戻る</a>
  </p>
{% endblock %}