{% extends "base.html" %}
{% block content %}
<div style="padding: 16px;">

  <p style="font-size: 15px; margin-bottom: 20px;">パスワード再設定</p>

  <style>
  #id_current_password, #id_new_password1, #id_new_password2 {
    width: 100%;
    box-sizing: border-box;
  }
</style>

  <form method="post">
    {% csrf_token %}

    <div style="margin-bottom:16px;">
      <label style="font-size:13px;">現在のパスワード</label><br>
      {{ form.current_password }}
      {% for error in form.current_password.errors %}
        <p style="color:#b85c5c; font-size:12px; margin-top:4px;">{{ error }}</p>
      {% endfor %}
    </div>

     <div style="margin-bottom:8px;">
      <label style="font-size:13px;">新しいパスワード ※8文字以上・半角英数字で入力してください</label><br>
      {{ form.new_password1 }}
      {% for error in form.new_password1.errors %}
        <p style="color:#b85c5c; font-size:12px; margin-top:4px;">{{ error }}</p>
      {% endfor %}
    </div>

    <div style="margin-bottom:24px;">
      <label style="font-size:13px;">パスワード再入力</label><br>
      {{ form.new_password2 }}
      {% for error in form.new_password2.errors %}
        <p style="color:#b85c5c; font-size:12px; margin-top:4px;">{{ error }}</p>
      {% endfor %}
    </div>

    <div style="text-align:center;">
      <button type="submit" style="width:80%; padding:14px; background:#5a7a5a; color:white; font-size:15px; border:none; border-radius:8px; cursor:pointer;">
        変更
      </button>
    </div>
  </form>

</div>
{% endblock %}